{% extends 'base/base.html' %}

{% block title %}
Admin Posts Review
{% endblock %}

{% block content %}
<div class="container">
    <h2>Admin Posts Review</h2>
    {% if posts %}
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Video</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th colspan="3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in posts %}
                    <tr>
                        <td>
                            <video width="200" controls>
                                <source src="{{ p.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </td>
                        <td>{{ p.title }} </td>
                        <td>{{ p.description }} </td>
                        <td>{{ p.author }} </td>
                        <td>
                            <a href="{% url 'admin-comments-review' p.slug %}" class="btn btn-secondary">
                                Comments({{p.comments.count}})
                            </a>
                        </td>
                        <td>
                            <a href="" class="btn btn-primary">Ban User</a>
                        </td>
                        <td>
                            <a href="{% url 'post-delete' p.slug %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% else %}
        <p>There are no posts!</p>
    {% endif %}
</div>

{% endblock %}