{% extends 'base/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ post.title }}</h2>
    <div class="card mb-5">
        <video controls controlsList="nodownload">
            <source src="{{ post.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
            <p class="card-text"><a href="{{ post.get_absolute_url }}">Read More...</a></p>
            <a href="{% url 'post-update' post.slug %}" class="btn btn-primary">Update</a>
            <a href="{% url 'post-delete' post.slug %}" class="btn btn-danger">Delete</a>
        </div>

    </div>

    <h3>Comments({{post.comments.count}})</h3>
    <hr>

    {% if post.comments %}
        {% for c in post.comments.all %}
            <p>
                {{ c.author }}: {{ c.content }}
                <a href="{% url 'comment-update' c.uuid %}">update</a>
                <a href="{% url 'comment-delete' c.uuid %}">delete</a>
            </p>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data" action="{% url 'comment-create' post.slug %}">{% csrf_token %}
        <textarea name="content" class="form-control"></textarea>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

{% endblock %}